<nav
  [class.active]="isActive"
  class="sidebar position-fixed start-0 h-100 overflow-hidden"
>
  <ul class="position-absolute top-0 start-0 w-100 list-unstyled">
    <li class="mb-5"
      data-bs-toggle="tooltip"
      data-bs-placement="right"
      data-bs-title="Inicio"
    >
      <a class="nav-link d-flex align-items-center"
        [routerLink]="['/main/home']">
        <span class="icon d-flex align-items-center"
          ><img
            src="/assets/icons/home.png"
            alt="home"
            width="24px"
            height="24px"
        /></span>
        <span class="title">HOME</span>
      </a>
    </li>
    <li
      *ngIf="permission.canViewSale()"
      class="w-100"
      data-bs-toggle="tooltip"
      data-bs-placement="right"
      data-bs-title="Ventas"
      [routerLinkActive]="'active-link'"
    >
      <a class="nav-link d-flex align-items-center" 
        [routerLink]="['/main/ventas']">
        <span class="icon d-flex align-items-center"
          ><img
            src="/assets/icons/cashregister.png"
            alt="venta"
            width="24px"
            height="24px"
        /></span>
        <span class="title">Ventas</span>
      </a>
    </li>
    <li
      class="w-100"
      data-bs-toggle="tooltip"
      data-bs-placement="right"
      data-bs-title="Inventario"
      [routerLinkActive]="'active-link'"
    >
      <a class="nav-link d-flex align-items-center" [routerLink]="['/main/stock']">
        <span class="icon d-flex align-items-center"
          ><img
            src="/assets/icons/inventory.png"
            alt="inventario"
            width="24px"
            height="24px"
        /></span>
        <span class="title">Inventario</span>
      </a>
    </li>
    <li
       *ngIf="permission.canViewCustomer()"
      class="w-100"
      data-bs-toggle="tooltip"
      data-bs-placement="right"
      data-bs-title="Clientes"
      [routerLinkActive]="'active-link'"
    >
      <a
        class="nav-link d-flex align-items-center"
        [routerLink]="['/main/clientes']"
      >
        <span class="icon d-flex align-items-center"
          ><img
            src="/assets/icons/user.png"
            alt="cliente"
            width="24px"
            height="24px"
        /></span>
        <span class="title">Clientes</span>
      </a>
    </li>
    <li
      *ngIf="permission.canViewReport()"
      class="w-100"
      data-bs-toggle="tooltip"
      data-bs-placement="right"
      data-bs-title="Informes"
      [routerLinkActive]="'active-link'"
    >
      <a
        class="nav-link d-flex align-items-center"
        [routerLink]="['/main/reportes']"
        (click)="isSellerRole()"
      >
        <span class="icon d-flex align-items-center"
          ><img
            src="/assets/icons/report.png"
            alt="informe"
            width="24px"
            height="24px"
        /></span>
        <span class="title">Informes</span>
      </a>
    </li>
    <li
      *ngIf="permission.canViewSetting()"
      class="w-100"
      data-bs-toggle="tooltip"
      data-bs-placement="right"
      data-bs-title="Ajuste"
      [routerLinkActive]="'active-link'"
    >
      <a class="nav-link d-flex align-items-center"
        [routerLink]="['/main/configuraciones']">
        <span class="icon d-flex align-items-center"
          ><img
            src="/assets/icons/settings.png"
            alt="ajuste"
            width="24px"
            height="24px"
        /></span>
        <span class="title">Ajuste</span>
      </a>
    </li>
    <li
      *ngIf="permission.canViewUser()"
      class="w-100"
      data-bs-toggle="tooltip"
      data-bs-placement="right"
      data-bs-title="Usuario"
      [routerLinkActive]="'active-link'"
    >
      <a class="nav-link d-flex align-items-center"
          [routerLink]="['/main/usuario']">
        <span class="icon d-flex align-items-center"
          ><img
            src="/assets/icons/iconUser.png"
            alt="usuario"
            width="25px"
            height="25px"
        /></span>
        <span class="title">Usuario</span>
      </a>
    </li>
    <li
      class="w-100 mt-5"
      data-bs-toggle="tooltip"
      data-bs-placement="right"
      data-bs-title="Salir"
    >
      <a (click)="logout()" class="nav-link d-flex align-items-center">
        <span class="icon d-flex align-items-center"
          ><img
            src="/assets/icons/signout.png"
            alt="salir"
            width="24px"
            height="24px"
        /></span>
        <span class="title">Salir</span>
      </a>
    </li>
  </ul>
</nav>
