<div *ngIf="permission.canAddUser()" class="modal fade" id="addCustomer" tabindex="-1" aria-labelledby="addCustomer" aria-hidden="true"
 (hidden.bs.modal)="resetCustomerForm()">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center w-100">
                <h1 class="modal-title fs-3 w-100">Registro de Clientes</h1>
                <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="nameAddCustomer" placeholder="Ingrese nombre" name="name"
                            [(ngModel)]="newCustomer.name"
                            (keydown)="touchedFields['name'] = true"
                            [ngClass]="{'is-invalid': touchedFields['name'] && !customerValidator.isFieldValid(newCustomer, 'name'), 'is-valid': touchedFields['name'] && customerValidator.isFieldValid(newCustomer, 'name')}" required />
                        <label for="nameAddCustomer" class="form-label">Nombre</label>
                        <div *ngIf="!customerValidator.isFieldValid(newCustomer,'name')" class="invalid-feedback">
                            Nombre no válido debe tener al menos 3 letras.
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="surnameAddCustomer" placeholder="Ingrese apellidos"
                            name="surname" [(ngModel)]="newCustomer.surname"
                            (keydown)="touchedFields['surname'] = true"
                            [ngClass]="{'is-invalid': touchedFields['surname'] && !customerValidator.isFieldValid(newCustomer,'surname'), 'is-valid': touchedFields['surname'] && customerValidator.isFieldValid(newCustomer, 'surname')}"
                            required />
                        <label for="surnameAddCustomer" class="form-label">Apellidos</label>
                        <div *ngIf="!customerValidator.isFieldValid(newCustomer,'surname')" class="invalid-feedback">
                            Apellido no válido debe tener al menos 3 letras.
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control" id="phoneAddCustomer" placeholder="Ingrese número de teléfono"
                            value="+569 " name="phone" [(ngModel)]="newCustomer.phone" 
                            (keydown)="touchedFields['phone'] = true"
                            [ngClass]="{'is-invalid': touchedFields['phone'] && !customerValidator.isFieldValid(newCustomer,'phone'), 'is-valid': touchedFields['phone'] && customerValidator.isFieldValid(newCustomer, 'phone')}"
                            required />
                        <label for="phoneAddCustomer" class="form-label">Número de Teléfono</label>
                        <div *ngIf="!customerValidator.isFieldValid(newCustomer,'phone')" class="invalid-feedback">
                            Teléfono no válido (+569 12345678).
                        </div>
                    </div>
                    <div class="form-floating mb-1">
                        <input type="email" class="form-control" id="emailAddCustomer" placeholder="Ingrese email" name="email"
                            [(ngModel)]="newCustomer.email"
                            (keydown)="touchedFields['email'] = true"
                            [ngClass]="{'is-invalid': touchedFields['email'] && !customerValidator.isFieldValid(newCustomer,'email'), 'is-valid':touchedFields['email'] && customerValidator.isFieldValid(newCustomer, 'email')}" />
                        <label for="emailAddCustomer" class="form-label">Correo Electrónico (opcional)</label>
                        <div *ngIf="!customerValidator.isFieldValid(newCustomer,'email')" class="invalid-feedback">
                            Email no válido (example&commat;test.com)
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center mb-0 mt-1 p-0">
                <button type="submit" class="btn btn-success" 
                    (click)="addCustomer()"
                    [disabled]="!customerValidator.validateForm(newCustomer)"
                    [attr.data-bs-dismiss]="modalService.isModalVisible() ? 'modal' : null">Guardar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>