<div class="modal fade" id="addProduct" tabindex="-1" aria-labelledby="addProduct" aria-hidden="true" 
    (hidden.bs.modal)="resetProductForm()">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center w-100">
                <h1 class="modal-title fs-3 w-100">Registro de Productos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="d-flex flex-lg-row flex-column">
                        <div class="form-floating mb-3 m-2 w-100">
                            <p *ngIf="brandList.length === 0">Sin marcas disponibles.</p>
                            <select *ngIf="brandList.length !== 0" class="form-select w-auto" name="brand" aria-label="Seleccione marca"
                            (change)="addToDescription(brandSelected?.name); updateNewProductFields()" [(ngModel)]="brandSelected" 
                            [ngClass]="{'is-invalid': !validator.isFieldValid(newProduct, 'brand'), 'is-valid': validator.isFieldValid(newProduct, 'brand')}">
                                <option [ngValue]="null" selected disabled>Marca</option>
                                <option *ngFor="let brand of brandList" [ngValue]="brand">{{brand.name}}</option>
                            </select>
                            <div *ngIf="!validator.isFieldValid(newProduct,'brand')" class="invalid-feedback">
                                Debe seleccionar una marca                            
                            </div>
                        </div>
                        <div class="form-floating mb-3 m-2 w-100">
                            <p *ngIf="categoryList.length === 0">Sin categorías disponibles.</p>
                            <select class="form-select w-auto" aria-label="Seleccione Categoría" name="category"
                                *ngIf="categoryList.length !== 0" (change)="onCategoryChange($event); addToDescription(categorySelected?.name); updateNewProductFields()" 
                                [(ngModel)]="categorySelected" 
                            [ngClass]="{'is-invalid': !validator.isFieldValid(newProduct, 'category'), 'is-valid': validator.isFieldValid(newProduct, 'category')}">
                                <option [ngValue]="null" selected disabled>Categoría</option>
                                <option *ngFor="let category of categoryList" [ngValue]="category">{{category.name}}</option>
                            </select>
                            <div *ngIf="!validator.isFieldValid(newProduct,'category')" class="invalid-feedback">
                                Debe seleccionar una categoría
                            </div>
                        </div>
                        <div class="form-floating mb-3 m-2 w-100">
                            <p *ngIf="subcategoryList.length === 0">Sin subcategorías disponibles.</p>
                            <select *ngIf="subcategoryList.length !== 0" class="form-select w-auto" aria-label="Seleccione Subcategoría" name="subcategory"
                            [(ngModel)]="subcategorySelected" (change)="updateNewProductFields()"
                            [ngClass]="{'is-invalid': !validator.isFieldValid(newProduct, 'subcategoryProduct'), 'is-valid': validator.isFieldValid(newProduct, 'subcategoryProduct')}">
                                <option [ngValue]="null" disabled>Subcategoría</option>
                                <option *ngFor="let subcategory of subcategoryList" [ngValue]="subcategory">{{subcategory.name}}</option>
                            </select>
                            <div *ngIf="!validator.isFieldValid(newProduct,'subcategoryProduct')" class="invalid-feedback">
                                Debe seleccionar una subcategoría
                            </div>
                        </div>
                        <div class="form-floating mb-3 m-2 w-100">
                            <p *ngIf="unitList.length === 0">Sin unidades disponibles.</p>
                            <select class="form-select w-auto" aria-label="Seleccione Unidad de medida" name="unit"
                                *ngIf="unitList.length !== 0" [(ngModel)]="unitSelected" (change)="updateNewProductFields()"
                            [ngClass]="{'is-invalid': !validator.isFieldValid(newProduct, 'unit'), 'is-valid': validator.isFieldValid(newProduct, 'unit')}">
                                <option [ngValue]="null" selected disabled>Unidad de medida</option>
                                <option *ngFor="let unit of unitList" [ngValue]="unit">{{ unit.nameUnit }}</option>
                            </select>
                            <div *ngIf="!validator.isFieldValid(newProduct,'unit')" class="invalid-feedback">
                                Debe seleccionar una unidad de medida
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="description" placeholder="Ingrese una descripción general" name="description"
                        [(ngModel)]="newProduct.description"
                        [ngClass]="{'is-invalid': !validator.isFieldValid(newProduct, 'description'), 'is-valid': validator.isFieldValid(newProduct, 'description')}" required />
                        <label for="description" class="form-label">Descripción</label>
                        <div *ngIf="!validator.isFieldValid(newProduct,'description')" class="invalid-feedback">
                            Debe ingresar una descripción del producto
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-success" 
                [disabled]="!validator.validateForm(newProduct)" 
                (click)="addProduct()"
                [attr.data-bs-dismiss]="modalService.isModalVisible() ? 'modal':null">Guardar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>