<div class="container-fluid d-flex flex-column p-1">
    <div class="p-0 pb-0">
        <p class="text-center fw-bold fs-2 m-0">Total Dinero: {{totalDebts | currency:'CLP':'$':'1.0-0'}}</p>
        <div class="d-flex flex-lg-row flex-column justify-content-between">
            <div class="order-lg-0 order-2 p-1 mb-2 align-content-start">
                <p class="fw-bold fs-4 mb-0 m-1">Buscar Cliente:</p>
                <div class="input-group input-group-md">
                    <input [(ngModel)]="textFilter" (ngModelChange)="searchFilterCustomer()" type="text" class="form-control" aria-label="buscar cliente filtrado" aria-describedby="inputGroup-sizing-md" placeholder="Ingrese un valor">
                </div>
            </div>
            <div class="border border-1 border-white p-1 mb-2 mt-2 my-4 h-100 d-flex flex-row">
                <div class="m-2">
                    <span class="mt-1 d-inline-block ms-3" style="width: 15px;height: 15px;background-color: rgb(40, 238, 40);"></span>
                    <p class="ms-1 mb-0">Pagada</p>
                </div>
                <div class="m-2">
                    <span class="mt-1 d-inline-block ms-4" style="width: 15px;height: 15px;background-color: red;"></span>
                    <p class="ms-1 mb-0">Pendiente</p>
                </div>
                <div class="m-2">
                    <span class="mt-1 d-inline-block ms-3" style="width: 15px;height: 15px;background-color: rgb(9, 180, 237);"></span>
                    <p class="ms-1 mb-0">Parcial</p>
                </div>
                <div class="m-2">
                    <span class="mt-1 d-inline-block ms-4" style="width: 15px;height: 15px;background-color: rgb(21, 0, 255);"></span>
                    <p class="ms-1 mb-0">Vencida</p>
                </div>
            </div>
            <div class="order-lg-2 order-1 m-2 mt-0 align-content-end">
                <button class="btn btn-outline-success border-0 m-2 mt-1" 
                data-bs-toggle="tooltip"
              data-bs-placement="auto"
              data-bs-title="Crear nuevo cliente" 
            (click)="modalService.openModal('addCustomer')"><img src="/assets/icons/iconAddUser.png" alt="Agregar_cliente"  width="60" height="60" class="d-inline-block img-fluid"></button>
            </div>
        </div>
    </div>
    <div class="text-center p-2 pt-0 table-responsive" style="max-height: 350px;">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col" class="position-sticky top-0">#</th>
                    <th scope="col" class="position-sticky top-0">Nombre</th>
                    <th scope="col" class="position-sticky top-0">Apellidos</th>
                    <th scope="col" class="position-sticky top-0">Email</th>
                    <th scope="col" class="position-sticky top-0">Teléfono</th>
                    <th scope="col" class="position-sticky top-0">Deuda</th>
                    <th scope="col" class="position-sticky top-0">Estado</th>
                    <th scope="col" class="position-sticky top-0">Cuenta</th>
                    <th scope="col" class="position-sticky top-0">Acción</th>
                </tr>
            </thead>
            <tbody class="table-group-divider text-center align-middle">
                <tr *ngFor="let customer of filteredCustomers">
                    <th scope="row">{{customer.id}}</th>
                    <td>{{customer.name}}</td>
                    <td>{{customer.surname}}</td>
                    <td>{{getEmailEmpty(customer.email)}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.debt | currency: 'CLP':'$':'1.0-0'}}</td>
                    <td [ngStyle]="{'background-color': statusColor(customer.status)}"></td>
                    <td>{{getStatusAccount(customer.account)}}</td>
                    <td>
                        <div>
                            <button *ngIf="customer.debt > 0" class="btn btn-sm btn-success m-1" data-bs-toggle="modal" data-bs-target="#paymentCustomer" (click)="openModalCustomer(customer)"><img src="/assets/icons/btnPayIcon.png" alt="pago" width="30" height="30" class="img-fluid"></button>
                            <button  class="btn btn-sm btn-warning m-1" (click)="openModalCustomer(customer)"><img src="/assets/icons/btnEditIcon.png" alt="editar" width="30" height="30" class="img-fluid"></button>
                            <button *ngIf="customer.debt === 0 && customer.account" class="btn btn-sm btn-danger m-1" (click)="deleteCustomer(customer)" ><img src="/assets/icons/btnDeleteIcon.png" alt="borrar" width="30" height="30" class="img-fluid"></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal Add Customer -->
<app-add-customer (customerAdded)="getAllCustomer()"></app-add-customer>
<!-- Modal Update Customer -->
<app-update-customer [selectedCustomer]="selectedCustomer" (customerUpdated)="getAllCustomer()"></app-update-customer>
<!-- Modal Payment Customer -->
<app-payment-customer (paymentRealized)="getAllCustomer()" [selectedCustomer]="selectedCustomer"></app-payment-customer>