<div *ngIf="permission.canViewUser()" class="container-fluid d-flex flex-column p-1">
    <div class="p-3">
        <div class="text-center d-flex flex-lg-row flex-column justify-content-center">
            <h2 class="fs-2 fw-bold me-2">Total Dinero: </h2>
            <div class="d-inline-block bg-success text-white px-2 py-1 rounded-3 shadow-sm">
                <span class="fs-4">{{totalDebts | currency:'CLP':'$':'1.0-0'}}</span>
            </div>
        </div>
        <div class="container-fluid p-0">
            <!-- Vista Desktop -->
            <div class="row g-3 d-none d-lg-flex align-items-center">
                <div class="col-3">
                    <div class="form-floating">
                        <input id="searchProduct" [(ngModel)]="textFilter" (ngModelChange)="searchFilterCustomer()"
                            type="text" class="form-control form-control-lg" placeholder="Ingrese un valor"
                            aria-label="buscar producto filtrado" />
                        <label for="searchProduct">Búsqueda Rápida</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-center gap-4 bg-dark rounded-3 py-2 px-4">
                        <div class="d-flex align-items-center">
                            <span class="badge px-3 py-2 text-black" style="background-color: rgb(40, 238, 40);">Pagada</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="badge bg-danger px-3 py-2 text-black">Pendiente</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="badge px-3 py-2 text-black" style="background-color: #09b4ed;">Parcial</span>
                        </div>
                        <div class="d-flex align-items-center">
                            <span class="badge px-3 py-2 text-black" style="background-color: #1500ff;">Vencida</span>
                        </div>
                    </div>
                </div>
                <div *ngIf="permission.canAddUser()" class="col-3 text-end">
                    <button 
                        class="btn btn-outline-success border-0" data-bs-toggle="modal" data-bs-target="#addCustomer"
                        data-bs-placement="auto" data-bs-title="Crear nuevo cliente">
                        <img src="/assets/icons/iconAddUser.png" alt="Agregar cliente" width="60" height="60"
                            class="img-fluid">
                    </button>
                </div>
            </div>
            <!-- Vista Mobile -->
            <div class="d-lg-none">
                <div class="bg-dark-subtle rounded-3 p-3 mb-3">
                    <div class="d-flex flex-wrap justify-content-center gap-2 bg-dark-subtle">
                        <span class="badge px-3 py-2 text-black" style="background-color: rgb(40, 238, 40);">Pagada</span>
                        <span class="badge bg-danger px-3 py-2 text-black">Pendiente</span>
                        <span class="badge px-3 py-2 text-black" style="background-color: #09b4ed;">Parcial</span>
                        <span class="badge px-3 py-2 text-black" style="background-color: #1500ff;">Vencida</span>
                    </div>
                </div>
                <div class="row g-2 align-items-center">
                    <div class="col">
                        <div class="form-floating">
                            <input id="searchProductMobile" [(ngModel)]="textFilter"
                                (ngModelChange)="searchFilterCustomer()" type="text" class="form-control"
                                placeholder="Ingrese un valor" aria-label="buscar producto filtrado" />
                            <label for="searchProductMobile">Búsqueda Rápida</label>
                        </div>
                    </div>
                    <div *ngIf="permission.canAddUser()"  class="col-auto">
                        <button class="btn btn-outline-success border-0" data-bs-toggle="modal"
                            data-bs-target="#addCustomer" data-bs-placement="auto" data-bs-title="Crear nuevo cliente">
                            <img src="/assets/icons/iconAddUser.png" alt="Agregar cliente" width="40" height="40"
                                class="img-fluid">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center p-2 pt-0 table-responsive" style="max-height: calc(100vh - 210px);">
        <table class="table table-hover">
            <thead class="table-light">
                <tr class="position-sticky top-0">
                    <th scope="col" style="width: 10px;">
                        <button class="btn btn-sm text-dark" (click)="toggleSortPosition()" aria-label="Ordenar por fecha">
                            <i [ngClass]="sortPosition ? 'bi bi-sort-numeric-up' : 'bi bi-sort-numeric-down'"></i>
                        </button>
                    </th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Email</th>
                    <th scope="col">Teléfono</th>
                    <th scope="col">
                        <button class="btn btn-sm text-dark" (click)="toggleSortDebt()" aria-label="Ordenar por fecha">
                            <span class="fw-bolder">Deuda </span><i [ngClass]="sortDebt ? 'bi bi-sort-numeric-up' : 'bi bi-sort-numeric-down'"></i>
                        </button>
                    </th>
                    <th scope="col">Estado</th>
                    <th scope="col">Cuenta</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody class="table-group-divider text-center align-middle">
                <tr *ngFor="let customer of filteredCustomers; let i = index">
                    <th scope="row">{{sortPosition ? i + 1 : filteredCustomers.length - i}}</th>
                    <td>
                        <div class="d-flex flex-column">
                            <span class="fw-bold">{{customer.name}}</span>
                            <span class="text-muted small">{{customer.surname}}</span>
                        </div>
                    </td>
                    <td>{{getEmailEmpty(customer.email)}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.debt | currency: 'CLP':'$':'1.0-0'}}</td>
                    <td [ngStyle]="{'background-color': statusColor(customer.status)}"></td>
                    <td>
                        <span class="badge" [class.bg-success]="customer.account" [class.bg-danger]="!customer.account">
                            {{getStatusAccount(customer.account)}}
                        </span>
                    </td>
                    <td>
                        <button *ngIf="customer.debt > 0" class="btn btn-success btn-sm" data-bs-toggle="modal"
                            data-bs-target="#paymentCustomer" (click)="openModalCustomer(customer)">
                            <img src="/assets/icons/btnPayIcon.png" alt="pago" width="24" height="24" class="img-fluid" data-bs-toggle="tooltip"
                                data-bs-placement="top" title="Pago de Deuda">
                        </button>
                        <button *ngIf="permission.canUpdateUser()" class="btn btn-warning btn-sm" data-bs-toggle="modal"
                            data-bs-target="#updateCustomer" (click)="openModalCustomer(customer)">
                            <img src="/assets/icons/btnEditIcon.png" alt="editar" width="24" height="24" class="img-fluid"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Actualizar Datos">
                        </button>
                        <button *ngIf="(customer.debt === 0 && customer.account) && permission.canDeleteUser()"
                            class="btn btn-danger btn-sm" (click)="deleteCustomer(customer)">
                            <img src="/assets/icons/btnDeleteIcon.png" alt="borrar" width="24" height="24" class="img-fluid"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal Add Customer -->
<app-add-customer (customerAdded)="getAllCustomer()"></app-add-customer>
<!-- Modal Update Customer -->
<app-update-customer [selectedCustomer]="selectedCustomer" (customerUpdated)="getAllCustomer()"></app-update-customer>
<!-- Modal Payment Customer -->
<app-payment-customer (paymentRealized)="getAllCustomer()" [selectedCustomer]="selectedCustomer"></app-payment-customer>