<div *ngIf="permission.canViewUser()" class="modal fade" id="updateUser" tabindex="-1" aria-labelledby="updateUser" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <h3 class="modal-title fs-4 fw-bold text-white w-100 text-center">Actualización de Perfil</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0">
                <form>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control-plaintext" id="roleModal" [value]="changeNameRole(userDTO.role)"
                                    readonly>
                                <label for="roleModal" class="text-muted">Rol</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control-plaintext" id="rutModal" [value]="userDTO.rut" readonly>
                                <label for="rutModal" class="text-muted">RUT</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control-plaintext" id="nameModal" [value]="userDTO.name"
                                    readonly>
                                <label for="nameModal" class="text-muted">Nombre</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control-plaintext" id="surnameModal" [value]="userDTO.surname"
                                    readonly>
                                <label for="surnameModal" class="text-muted">Apellido</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="emailModal" placeholder="Email" name="email"
                                    [(ngModel)]="userDTO.email" 
                                    [ngClass]="{'is-invalid':!validator.validateUsername(userDTO.email), 'is-valid':validator.validateUsername(userDTO.email)}" required>
                                <label for="emailModal">Email</label>
                                <div *ngIf="!validator.validateUsername(userDTO.email)" class="invalid-feedback">
                                    Email no válido (example&commat;test.com)
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="usernameModal" placeholder="Nombre usuario"
                                    name="username" [(ngModel)]="userDTO.username" 
                                    [ngClass]="{'is-invalid':!validator.validateUsername(userDTO.username), 'is-valid':validator.validateUsername(userDTO.username)}" required>
                                <label for="usernameModal">Nombre de usuario</label>
                                <div *ngIf="!validator.validateUsername(userDTO.username)" class="invalid-feedback">
                                    Nombre de Usuario no válido debe tener al menos 3 letras.
                                </div>
                            </div>
                        </div>
                        <div  class="col-12">
                            <div class="form-check form-switch">
                                <input #changePasswordCheckbox class="form-check-input" type="checkbox" id="changePassword"
                                    (change)="isChangePassword($event)">
                                <label class="form-check-label" for="changePassword">Cambiar contraseña</label>
                            </div>
                        </div>
                        <div *ngIf="changePassword" class="col-md-6">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="newPassword" placeholder="Nueva Contraseña"
                                    name="newPassword" aria-describedby="passwordHelpInline" [(ngModel)]="newPassword"
                                    [ngClass]="{'is-invalid':!validator.validatePassword(newPassword), 'is-valid':validator.validatePassword(newPassword)}">
                                <label for="password">Nueva Contraseña</label>
                                <div *ngIf="!validator.validatePassword(newPassword)" class="invalid-feedback">
                                    Contraseña debe tener 7 o más caracteres.
                                </div>
                            </div>
                        </div>
                        <div *ngIf="changePassword" class="col-md-6">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="confirmPassword"
                                    placeholder="Confirmar Contraseña" name="confirmPassword" aria-describedby="passwordHelpInline"
                                    [(ngModel)]="newPasswordConfirmed"
                                    [ngClass]="{'is-invalid':!validator.validatePassword(newPasswordConfirmed), 'is-valid':validator.validatePassword(newPasswordConfirmed)}">
                                <label for="confirmPassword">Confirmar Contraseña</label>
                                <div *ngIf="!validator.validatePassword(newPasswordConfirmed)" class="invalid-feedback">
                                    Contraseña debe tener 7 o más caracteres.
                                </div>
                            </div>
                        </div>
                        <div *ngIf="changePassword" class="col-md-12">
                            <div class="form-floating">
                                <input type="password" class="form-control" id="currentPassword" placeholder="Confirmar Contraseña"
                                    name="currentPassword" aria-describedby="passwordHelpInline" [(ngModel)]="currentPassword"
                                    [ngClass]="{'is-invalid':!validator.validatePassword(currentPassword), 'is-valid':validator.validatePassword(currentPassword)}">
                                <label for="currentPassword">Contraseña Actual (código de seguridad)</label>
                                <div *ngIf="!validator.validatePassword(currentPassword)" class="invalid-feedback">
                                    Contraseña debe tener 7 o más caracteres.
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="submit" class="btn btn-warning px-4 py-2"
                    (click)="updateUser(userDTO)"
                    [attr.data-bs-dismiss]="modal.isModalVisible() ? 'modal' : null">Actualizar</button>
                <button type="button" class="btn btn-outline-secondary px-4 py-2"
                    data-bs-dismiss="modal" (click)="resetModalUser()">Cancelar</button>
            </div>
        </div>
    </div>
</div>