<div class="modal fade" id="updateCostumer" tabindex="-1" aria-labelledby="updateCostumer" aria-hidden="true"
    *ngIf="selectedCostumer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center w-100">
                <h1 class="modal-title fs-3 w-100">Actualización de Clientes</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="updateCostumer()" #updateForm="ngForm">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" placeholder="Ingrese nombre" name="name"
                            [(ngModel)]="selectedCostumer.name" required />
                        <label for="name" class="form-label">Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="surname" placeholder="Ingrese apellidos"
                            name="surname" [(ngModel)]="selectedCostumer.surname" required />
                        <label for="surname" class="form-label">Apellido</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control" id="phone" placeholder="Ingrese número de teléfono"
                            value="+569 " name="phone" [(ngModel)]="selectedCostumer.phone" required />
                        <label for="phone" class="form-label">Número de Teléfono</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" placeholder="Ingrese email" name="email"
                            [(ngModel)]="selectedCostumer.email" />
                        <label for="email" class="form-label">Correo Electrónico</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-success" (click)="updateCostumer()">Actualizar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
