<div class="modal fade" id="newMessageModal" tabindex="-1" aria-labelledby="newMessageModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header border-secondary">
                <h5 class="modal-title" id="newMessageModalLabel">Nuevo Mensaje</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close" (click)="resetModal()"></button>
            </div>
            <div class="modal-body">
                <select class="form-select mb-2 bg-dark text-light rounded-pill" aria-label="Seleccione usuario" name="userSelected"
                                [(ngModel)]="message.receiverUser"
                                [ngClass]="{'is-invalid':!message.receiverUser, 'is-valid':message.receiverUser}" required>
                    <option [ngValue]="null" selected disabled>Seleccionar destinatario</option>
                    <option *ngFor="let user of userList" [ngValue]="user">{{user.name + ' ' + user.surname}}</option>
                    <div *ngIf="!message.receiverUser" class="invalid-feedback">
                        Debe seleccionar destinatario
                    </div>
                </select>
                <div class="input-group">
                    <input type="text" class="form-control bg-dark text-light rounded-pill rounded-end"
                        placeholder="Escribe tu mensaje..."
                        [(ngModel)]="message.context">
                    <button [disabled]="!message.context" class="btn btn-primary rounded-pill rounded-start" (click)="sendMessage(message)">
                        <i class="bi bi-send"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
