<div class="modal fade" id="updateProduct" tabindex="-1" aria-labelledby="updateProduct" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header text-center w-100">
                <h1 class="modal-title fs-3 w-100">Registro de Productos</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-lg-row flex-column justify-content-between">
                    <div class="">
                        <label for="">Marca</label>
                        <p>{{selectedProduct.brand}}</p>
                    </div>
                    <div class="">
                        <label for="">Categoría</label>
                        <p>{{selectedProduct.category.name}}</p>
                    </div>
                    <div class="">
                        <label for="">Subcategoría</label>
                        <p>{{selectedProduct.subcategoryProduct.name}}</p>
                    </div>
                    <div class="">
                        <label for="">Unidad de medida</label>
                        <p>{{selectedProduct.unit.name}}</p>
                    </div>
                </div>
                <form>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="description"
                            placeholder="Ingrese una descripción general" name="description"
                            [(ngModel)]="selectedProduct.description"
                            [ngClass]="{'is-invalid': !validator.isFieldValid(selectedProduct, 'description')}" required />
                        <label for="description" class="form-label">Descripción</label>
                        <div *ngIf="!validator.isFieldValid(selectedProduct,'description')" class="invalid-feedback">
                            Debe ingresar una descripción del producto
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-warning">Actualizar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>