<div class="contianer-fluid d-flex flex-column p-1 min-vh-100">
    <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-sm btn-outline-primary border-0 m-2 mt-1" data-bs-toggle="modal" data-bs-target="#selectProduct">
            <img src="/assets/icons/iconFind.png" alt="Seleccionar_producto" width="40" height="40"
                class="d-inline-block img-fluid" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-title="Seleccionar Productos" />
        </button>
        <div class="position-absolute w-100 text-center">
            <p class="m-0 fs-4 fw-bold">N°-123</p>
        </div>
        <div class="input-group w-25 me-4">
            <select class="form-select" name="customer" id="customer" aria-label="Seleccione un cliente">
                <option selected disabled>Clientes</option>
                <option>JUAN</option>
                <option>IGNACIO</option>
                <option>DANTE</option>
            </select>
        </div>
    </div>
    <div class="d-flex flex-column text-center">
        <div class="table-responsive text-center p-5 pt-0 overflow-auto" style="max-height: 350px">
            <table class="table table-hover">
                <thead class="table-warning">
                    <tr>
                        <th scope="col" class="position-sticky top-0">#</th>
                        <th scope="col" class="position-sticky top-0">Descripción</th>
                        <th scope="col" class="position-sticky top-0">Unidad</th>
                        <th scope="col" class="position-sticky top-0">Precio</th>
                        <th scope="col" class="position-sticky top-0">Cantidad</th>
                        <th scope="col" class="position-sticky top-0">Total</th>
                        <th scope="col" class="position-sticky top-0">Acción</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider text-center align-middle">
                    <tr>
                        <th scope="row">1</th>
                        <td>Fit formula perro</td>
                        <td>10 KG</td>
                        <td>$10000</td>
                        <td>10</td>
                        <td>$100000</td>
                        <td>
                            <button class="btn btn-sm m-1">
                                <img src="/assets/icons/iconCancel.png" alt="activar" width="30" height="30"
                                    class="img-fluid" />
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <p *ngIf="purchaseDetailList.length === 0" class="fw-bold fs-2">
                Agregue un producto
            </p> -->
        </div>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="ms-4">
            <p class="fs-5 fw-bolder text-center">Formas de Pagos</p>
            <div>
                <button class="btn btn-sm btn-outline-info border-0 m-2 mt-1">
                    <img src="/assets/icons/iconCash.png" alt="Efectivo" width="40" height="40" class="d-inline-block img-fluid"
                        data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Efectivo" />
                </button>
                <button class="btn btn-sm btn-outline-info border-0 m-2 mt-1">
                    <img src="/assets/icons/iconsBanktransfer.png" alt="Transferencia" width="40" height="40"
                        class="d-inline-block img-fluid" data-bs-toggle="tooltip" data-bs-placement="right"
                        data-bs-title="Transferencia" />
                </button>
                <button class="btn btn-sm btn-outline-info border-0 m-2 mt-1">
                    <img src="/assets/icons/iconLoan.png" alt="Prestamos" width="40" height="40" class="d-inline-block img-fluid"
                        data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Prestamos" />
                </button>
            </div>
            <div>
                <button class="btn btn-sm btn-outline-info border-0 m-2 mt-4 mb-4">
                    <img src="/assets/icons/iconCreditcard.png" alt="Crédito" width="40" height="40" class="d-inline-block img-fluid"
                        data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Crédito" />
                </button>
                <button class="btn btn-sm btn-outline-info border-0 m-2 mt-4 mb-4">
                    <img src="/assets/icons/iconPos.png" alt="Débito" width="40" height="40" class="d-inline-block img-fluid"
                        data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Débito" />
                </button>
                <button class="btn btn-sm btn-outline-info border-0 m-2 mt-4 mb-4">
                    <img src="/assets/icons/iconMixed.png" alt="Mixto" width="40" height="40" class="d-inline-block img-fluid"
                        data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Mixto" />
                </button>
            </div>
        </div>
        <div class="text-center">
            <div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="SwitchCheckDiscount">
                    <label class="form-check-label" for="SwitchCheckDiscount">Descuento</label>
                </div>
                <div class="form-floating mb-2 w-75">
                    <input type="number" class="form-control form-control-lg" id="amountDiscount" name="amountDiscount"
                        placeholder="Ingrese monto de descuento" aria-label="Ingrese monto de descuento" aria-describedby="amountDiscount" />
                    <label for="amountDiscount" class="form-label">Descuento</label>
                </div>
            </div>
            <div>
                <div class="form-floating mb-2 w-100">
                    <input type="number" class="form-control form-control-lg" id="amountSale" name="amountSale" placeholder="Ingrese monto"
                        aria-label="Ingrese monto a pagar" aria-describedby="amountSale"/>
                    <label for="amountSale" class="form-label">Monto a pagar</label>
                </div>
            </div>
        </div>
        <div class="text-end">
            <div class="me-5">
                <p class="fw-bold mb-0">Total pagar: $0</p>
                <p class="fw-bold mb-0">Descuento: $0</p>
                <p class="fw-bold mb-0">Préstamo: $0</p>
                <p class="fw-bold mb-0">Efectivo: $0</p>
                <p class="fw-bold mb-0">Vuelto: $0</p>
            </div>
            <div class="btn-group btn-group-lg">
                <button class="btn btn-success m-1">Pagar</button> 
                <button class="btn btn-danger m-1">Cancelar</button> 
            </div>
        </div>
    </div>
</div>
<!-- MODAL SELECTING PRODUCTS -->
<!-- <app-product-list (productSelected)="addSelectedProductToPurchaseDetailList($event)"></app-product-list> -->