<div class="container-fluid d-flex flex-column p-1">
  <div class="p-3">
    <div class="container-fluid p-0">
      <!-- Vista Desktop -->
      <div class="row g-3 d-none d-lg-flex align-items-center">
        <div class="col-3">
          <div class="form-floating">
            <input id="searchProduct" [(ngModel)]="textFilter" (ngModelChange)="searchFilterCustomer()" type="text"
              class="form-control form-control-lg" aria-label="buscar producto filtrado"
              aria-describedby="inputGroup-sizing-md" placeholder="Ingrese un valor" />
            <label for="searchProduct" class="form-label">Búsqueda Rápida</label>
          </div>
        </div>
        <div class="col-6">
          <div class="d-flex justify-content-center gap-4 bg-dark rounded-3 py-2 px-4">
            <div class="d-flex align-items-center">
              <span class="badge px-3 py-2 text-black" style="background-color: rgb(40, 238, 40);">Disponible</span>
            </div>
            <div class="d-flex align-items-center">
              <span class="badge bg-info px-3 py-2 text-black">No Disponible</span>
            </div>
            <div class="d-flex align-items-center">
              <span class="badge px-3 py-2 text-black bg-danger">Descontinuado</span>
            </div>
          </div>
        </div>
        <div class="col-3 text-end">
          <div class="d-grid gap-2">
            <div class="d-flex gap-2">
              <button type="button" class="btn btn-outline-light btn-sm w-50 fw-bold text-uppercase"
                data-bs-toggle="modal" data-bs-target="#addProduct">
                <i class="bi bi-box-seam me-1"></i> Producto
              </button>
              <button type="button" class="btn btn-outline-light btn-sm w-50 fw-bold text-uppercase"
                data-bs-toggle="modal" data-bs-target="#categoriesModal">
                <i class="bi bi-tags me-1"></i> Categorías
              </button>
            </div>
            <div class="d-flex gap-2">
              <a type="button" class="btn btn-outline-light btn-sm w-50 fw-bold text-uppercase"
                [routerLink]="['/proveedores']">
                <i class="bi bi-buildings me-1"></i> Proveedor
              </a>
              <a type="button" class="btn btn-outline-light btn-sm w-50 fw-bold text-uppercase"
                [routerLink]="['/compras']" target="_blank">
                <i class="bi bi-bag me-1"></i> Compras
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- Vista Mobile -->
      <div class="d-lg-none">
        <div class="d-grid gap-2">
          <div class="row row-cols-2 g-2 justify-content-center">
            <div class="col">
              <button type="button" class="btn btn-outline-light btn-sm w-100 shadow-sm rounded-pill"
                data-bs-toggle="modal" data-bs-target="#addProduct">
                <p class="fw-bold fs-6 m-0"><i class="bi bi-box-seam"></i>Producto</p>
              </button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-outline-light btn-sm w-100 shadow-sm rounded-pill"
                data-bs-toggle="modal" data-bs-target="#categoriesModal">
                <p class="fw-bold fs-6 m-0"><i class="bi bi-tags"></i>Categorías</p>
              </button>
            </div>
            <div class="col">
              <a type="button" class="btn btn-outline-light btn-sm w-100 shadow-sm rounded-pill"
                [routerLink]="['/proveedores']">
                <p class="fw-bold fs-6 m-0"><i class="bi bi-buildings"></i>Proveedor</p>
              </a>
            </div>
            <div class="col">
              <a type="button" class="btn btn-outline-light btn-sm w-100 shadow-sm rounded-pill"
                [routerLink]="['/compras']" target="_blank">
                <p class="fw-bold fs-6 m-0"><i class="bi bi-bag"></i>Compras</p>
              </a>
            </div>
          </div>
        </div>
        <div class="bg-dark-subtle rounded-3 p-3 mb-3">
          <div class="d-flex flex-wrap justify-content-center gap-2 bg-dark">
            <span class="badge px-3 py-2 text-black" style="background-color: rgb(40, 238, 40);">Disponible</span>
            <span class="badge px-3 py-2 text-black bg-info">No Disponible</span>
            <span class="badge px-3 py-2 text-black bg-danger">Descontinuado</span>
          </div>
        </div>
        <div class="row g-2 align-items-center">
          <div class="col">
            <div class="form-floating">
              <input id="searchProductMobile" [(ngModel)]="textFilter" (ngModelChange)="searchFilterCustomer()"
                type="text" class="form-control" aria-label="buscar producto filtrado"
                aria-describedby="inputGroup-sizing-md" placeholder="Ingrese un valor" />
              <label for="searchProduct" class="form-label">Búsqueda Rápida</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center p-2 pt-0 table-responsive" style="max-height: calc(100vh - 180px);">
    <table class="table table-hover">
      <thead class="table-light">
        <tr>
          <th scope="col" class="position-sticky top-0">#</th>
          <th scope="col" class="position-sticky top-0">Marca</th>
          <th scope="col" class="position-sticky top-0">Categoría</th>
          <th scope="col" class="position-sticky top-0">Subcategoría</th>
          <th scope="col" class="position-sticky top-0">Descripción</th>
          <th scope="col" class="position-sticky top-0">Un</th>
          <th scope="col" class="position-sticky top-0">Compra</th>
          <th scope="col" class="position-sticky top-0">Venta</th>
          <th scope="col" class="position-sticky top-0">Stock</th>
          <th scope="col" class="position-sticky top-0">Reserva</th>
          <th scope="col" class="position-sticky top-0">Estado</th>
          <th scope="col" class="position-sticky top-0 bg-light" style="z-index: 1020;">Acción</th>
        </tr>
      </thead>
      <tbody class="table-group-divider text-center align-middle">
        <tr *ngFor="let product of filteredProducts">
          <th scope="row">{{ product.id }}</th>
          <td>{{ product.brand.name }}</td>
          <td>{{ product.category.name }}</td>
          <td>{{ product.subcategoryProduct.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.unit.nameUnit }}</td>
          <td>{{ product.buyPrice | currency : "CLP" : "$" : "1.0-0" }}</td>
          <td>{{ product.salePrice | currency : "CLP" : "$" : "1.0-0" }}</td>
          <td>{{ product.stock }}</td>
          <td>{{ product.reserve }}</td>
          <td [ngStyle]="{
              'background-color': statusColor(product.statusProduct)
            }"></td>
          <td>
            <div class="btn-group" role="group" aria-label="Acciones de productos">
              <button *ngIf="
                  product.statusProduct === statusProduct.AVAILABLE ||
                  product.statusProduct === statusProduct.UNAVAILABLE && 
                  product.buyPrice !== 0
                " class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#updateProduct">
                <img src="/assets/icons/btnEditIcon.png" alt="editar" width="24" height="24" class="img-fluid"
                  (click)="openModalProduct(product)" data-bs-toggle="tooltip" data-bs-placement="top"
                  title="Editar info" />
              </button>
              <button *ngIf="product.statusProduct === statusProduct.UNAVAILABLE" (click)="deleteProduct(product)"
                class="btn btn-sm btn-danger">
                <img src="/assets/icons/btnDeleteIcon.png" alt="borrar" width="24" height="24" class="img-fluid"
                  data-bs-toggle="tooltip" data-bs-placement="top" title="Eliminar" />
              </button>
              <button *ngIf="product.statusProduct === statusProduct.DISCONTINUED" (click)="activateProduct(product)"
                class="btn btn-sm btn-outline-success border-0">
                <img src="/assets/icons/iconOn.png" alt="activar" width="24" height="24" class="img-fluid"
                  data-bs-toggle="tooltip" data-bs-placement="top" title="Activar" />
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal Add Product -->
<app-add-product (productAdded)="getProducts()"></app-add-product>
<!-- Modal Update Product -->
<app-update-product [selectedProduct]="selectedProduct" (productUpdated)="getProducts()"></app-update-product>
<!-- Modal Add Categories and Extras -->
<app-add-categories></app-add-categories>