<div *ngIf="roleService.getRole() !== role.WAREHOUSE" class="card shadow h-100">
    <div class="card-body d-flex flex-column p-2" style="height: 100%;">
        <div class="d-flex flex-lg-row flex-column justify-content-between align-items-center mb-1">
            <div class="col-lg-3 col-md-6 order-lg-first order-1">
                <div class="form-floating">
                    <input id="searchDispatches" type="text" [(ngModel)]="textFilter" (ngModelChange)="searchFilterDispatches()"
                        class="form-control form-control-sm" placeholder="Ingrese un valor"
                        aria-label="buscar despachos filtrado" />
                    <label for="searchDispatches" class="fs-6 fw-bolder">Búsqueda Rápida</label>
                </div>
            </div>
            <h5 class="text-center flex-grow-1 order-lg-last order-0">Historial de despachos</h5>
        </div>
        <div class="table-responsive flex-grow-1 p-0 pt-0" style="max-height: 65vh; overflow-y: auto;">
            <table class="table table-group-divider table-hover">
                <thead class="table-light text-center">
                    <tr class="position-sticky top-0">
                        <th scope="col">
                            <button class="btn btn-sm text-dark" (click)="toggleSortTrackingNumber()" aria-label="Ordenar por fecha">
                                <span class="fw-bolder">Despacho </span> <i [ngClass]="sortTrackingNumber ? 'bi bi-sort-numeric-up' : 'bi bi-sort-numeric-down'"></i>
                            </button>
                        </th>
                        <th scope="col">
                            <button class="btn btn-sm text-dark" (click)="toggleSortCreatedDate()" aria-label="Ordenar por fecha">
                                <span class="fw-bolder">Creación </span> <i
                                    [ngClass]="sortCreatedDate ? 'bi bi-sort-numeric-up' : 'bi bi-sort-numeric-down'"></i>
                            </button>
                        </th>
                        <th scope="col">
                            <button class="btn btn-sm text-dark" (click)="toggleSortDeliveryDate()" aria-label="Ordenar por fecha">
                                <span class="fw-bolder">Entrega </span> <i
                                    [ngClass]="sortDeliveryDate ? 'bi bi-sort-numeric-up' : 'bi bi-sort-numeric-down'"></i>
                            </button>
                        </th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Comentario</th>
                        <th scope="col">Estado</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider text-center align-middle">
                    <tr *ngFor="let dispatch of filteredDispatchList">
                        <td>{{dispatch.trackingNumber}}</td>
                        <td>{{dispatch.created| date: 'dd-MM-yyyy'}}</td>
                        <td>{{dispatch.deliveryDate| date: 'dd-MM-yyyy'}}</td>
                        <td>{{dispatch.customer}}</td>
                        <td>{{dispatch.address}}</td>
                        <td>{{dispatch.comment}}</td>
                        <td>{{dispatch.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>