<div class="d-flex flex-column vh-100">
    <div class="container-fluid d-flex flex-column">
        <ul class="nav nav-tabs mb-3 mt-1" id="tabs">
            <li class="nav-item active">
                <button class="nav-link active" id="tab-cashier" data-bs-toggle="tab" data-bs-target="#content-cashier">
                    Registro de Caja
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="tab-company" data-bs-toggle="tab" data-bs-target="#content-company">
                    Datos de la Empresa
                </button>
            </li>
            <li class="nav-item">
                <button (click)="resetTask()" class="nav-link" id="tab-task" data-bs-toggle="tab" data-bs-target="#content-tasks">
                    Tareas
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="tab-dispatches" data-bs-toggle="tab"
                    data-bs-target="#content-dispatches">
                    Despachos
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="tab-record" data-bs-toggle="tab" data-bs-target="#content-record">
                    Historial
                </button>
            </li>
        </ul>
        <div class="tab-content flex-grow-1">
            <div class="tab-pane fade show active" id="content-cashier">
                <div class="card shadow h-100">
                    <div class="card-body d-flex flex-column p-3" style="height: 100%;">
                        <h5 class="text-center mb-3">Movimientos de Caja</h5>
                        <div class="table-responsive flex-grow-1p-1 pt-0" style="height: calc(100vh - 180px); overflow-y: auto;">
                            <table class="table table-group-divider table-hover">
                                <thead class="table-light text-center">
                                    <tr>
                                        <th colspan="2">Fecha</th>
                                        <th colspan="2">Monto</th>
                                        <th rowspan="2">POS</th>
                                        <th rowspan="2">Usuario</th>
                                        <th rowspan="2">Comentario</th>
                                        <th rowspan="2">Estado</th>
                                    </tr>
                                    <tr>
                                        <th>Apertura</th>
                                        <th>Cierre</th>
                                        <th>Apertura</th>
                                        <th>Cierre</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider text-center align-middle">
                                    <tr *ngFor="let cashRegister of cashRegistersList">
                                        <td>{{cashRegister.dateOpening | date: 'dd-MM-yyyy (HH:mm)'}}</td>
                                        <td>{{cashRegister.dateClosing | date: 'dd-MM-yyyy (HH:mm)'}}</td>
                                        <td>{{cashRegister.amountOpening | currency: 'CLP':'$':'1.0-0'}}</td>
                                        <td>{{cashRegister.amountClosingCash | currency: 'CLP':'$':'1.0-0'}}</td>
                                        <td>{{cashRegister.amountClosingPos | currency: 'CLP':'$':'1.0-0'}}</td>
                                        <td>{{cashRegister.user.name}}</td>
                                        <td>{{cashRegister.comment}}</td>
                                        <td>{{cashRegister.status ? 'Cerrado':'Abierto'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="content-company">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="text-center mb-4">Datos de la Empresa</h5>
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="nameCompany" placeholder="Ingrese nombre de la empresa"
                                            name="nameCompany" [(ngModel)]="data.name" required />
                                        <label for="nameCompany" class="form-label">Nombre Empresa</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="tel" class="form-control" id="phone" placeholder="Ingrese número de teléfono"
                                            value="+569 " name="phone" [(ngModel)]="data.phone" required/>
                                        <label for="phone" class="form-label">Teléfono</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="emailCompany" placeholder="Ingrese email"
                                            name="emailCompany" [(ngModel)]="data.email" required/>
                                        <label for="emailCompany" class="form-label">Correo Electrónico</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="access" placeholder="Ingrese acceso email"
                                            name="access" [(ngModel)]="data.emailSecurityApp" required />
                                        <label for="access" class="form-label">Acceso Email</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="address"
                                            placeholder="Ingrese dirección de la empresa" name="address" 
                                            [(ngModel)]="data.address" required />
                                        <label for="address" class="form-label">Dirección</label>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                <button type="submit" class="btn btn-success">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="content-tasks">
                <div class="card shadow h-100">
                    <div class="card-body d-flex flex-column p-3" style="height: 100%;">
                        <h5 class="text-center mb-2">Tareas</h5>
                        <div class="form-floating mb-3 m-2 w-auto">
                            <select class="form-select w-auto" aria-label="Seleccione usuario" name="userSelected"
                                [(ngModel)]="task.user"
                                [ngClass]="{'is-invalid':!task.user, 'is-valid':task.user}" required>
                                <option [ngValue]="null" selected disabled>Seleccione Usuario</option>
                                <option *ngFor="let user of userList" [ngValue]="user">{{user.name + ' ' + user.surname}}</option>
                            </select>
                            <div *ngIf="!task.user" class="invalid-feedback">
                                Debe seleccionar usuario
                            </div>
                        </div>
                        <div class="form-floating mb-3 w-auto">
                            <textarea class="form-control" id="taskText" style="height: 100px" 
                               [(ngModel)]="task.description" 
                               [ngClass]="{'is-invalid':!task.description, 'is-valid':task.description}" required></textarea>
                            <label for="taskText" class="form-label">Descripción de la Tarea:</label>
                            <div *ngIf="!task.description" class="invalid-feedback">
                                Debe ingresar una descripción
                            </div>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary" type="button"
                            (click)="createNewTask(task)">Enviar</button>
                        </div>
                    </div>
                </div>
                <div class="card shadow h-100 mt-1">
                    <div class="card-body d-flex flex-column p-3" style="height: 50%;">
                        <h5 class="text-center mb-3">Historial de tareas asignadas</h5>
                        <div class="table-responsive flex-grow-1p-1 pt-0" style="height: calc(100vh - 180px); overflow-y: auto;">
                            <table class="table table-group-divider table-hover">
                                <thead class="table-light text-center">
                                    <tr>
                                        <th rowspan="2">N°</th>
                                        <th rowspan="2">Fecha</th>
                                        <th rowspan="2">Empleado</th>
                                        <th rowspan="2">Descripción</th>
                                        <th rowspan="2">Estado</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider text-center align-middle">
                                    <tr *ngFor="let task of taskList; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td>{{task.created| date: 'dd-MM-yyyy'}}</td>
                                        <td>{{task.user}}</td>
                                        <td>{{task.description}}</td>
                                        <td>{{task.status ? 'Realizada' : 'No Realizada'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="!taskList.length" class="text-center">
                                <p class="fw-semibold fs-4">Sin tareas asignadas registradas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="content-dispatches">
                <div class="card shadow h-100">
                    <div class="card-body d-flex flex-column p-3" style="height: 100%;">
                        <h5 class="text-center mb-3">Historial de despachos</h5>
                        <div class="table-responsive flex-grow-1p-1 pt-0" style="height: calc(100vh - 180px); overflow-y: auto;">
                            <table class="table table-group-divider table-hover">
                                <thead class="table-light text-center">
                                    <tr>
                                        <th rowspan="2">N° Despacho</th>
                                        <th colspan="2">Fecha</th>
                                        <th rowspan="2">Cliente</th>
                                        <th rowspan="2">Dirección</th>
                                        <th rowspan="2">Comentario</th>
                                        <th rowspan="2">Estado</th>
                                    </tr>
                                    <tr>
                                        <th>Creación</th>
                                        <th>Entrega</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider text-center align-middle">
                                    <tr *ngFor="let dispatch of dispatchList">
                                        <td>{{dispatch.trackingNumber}}</td>
                                        <td>{{dispatch.created| date: 'dd-MM-yyyy'}}</td>
                                        <td>{{dispatch.deliveryDate| date: 'dd-MM-yyyy'}}</td>
                                        <td>{{dispatch.customer}}</td>
                                        <td>{{dispatch.address}}</td>
                                        <td>{{dispatch.comment}}</td>
                                        <td>{{dispatch.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="content-record">
                <div class="card shadow h-100">
                    <div class="card-body d-flex flex-column p-3" style="height: 100%;">
                        <h5 class="text-center mb-2">Historial App</h5>
                        <div *ngIf="!access" class=" d-flex justify-content-center align-items-center ">
                            <form>
                                <div class="mb-3 w-100">
                                    <label for="userPass" class="form-label">Contraseña</label>
                                    <input type="password" class="form-control" id="userPass" name="userPass" 
                                        [(ngModel)]="pass"
                                        (keydown.enter)="getAccessHistory()">
                                </div>
                            </form>
                        </div>
                        <div *ngIf="access" class="table-responsive flex-grow-1 p-1 pt-0" style="height: calc(100vh - 180px); overflow-y: auto;">
                            <table class="table table-group-divider table-hover">
                                <thead class="table-light text-center">
                                    <tr>
                                        <th colspan="3">Fechas</th>
                                        <th rowspan="2">Acción</th>
                                        <th rowspan="2">Comentario</th>
                                        <th rowspan="2">Usuario</th>
                                    </tr>
                                    <tr>
                                        <th>Ingreso</th>
                                        <th>Salida</th>
                                        <th>Evento</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider text-center align-middle">
                                    <tr *ngFor="let record of recordList">
                                        <td>{{record.entryDate | date: 'dd-MM-yyyy (HH:mm)'}}</td>
                                        <td>{{record.endDate | date: 'dd-MM-yyyy (HH:mm)'}}</td>
                                        <td>{{record.actionDate | date: 'dd-MM-yyyy (HH:mm)'}}</td>
                                        <td>{{record.action}}</td>
                                        <td>{{record.comment}}</td>
                                        <td>{{record.user.username}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
