<div *ngIf="permission.canViewSetting()" class="d-flex flex-column vh-100">
    <div class="container-fluid d-flex flex-column">
        <ul class="nav nav-tabs mb-3 mt-1" id="tabs">
            <li *ngIf="permission.canViewCashierMovements()" class="nav-item active">
                <button class="nav-link active" id="tab-cashier" data-bs-toggle="tab" data-bs-target="#content-cashier">
                    Registro de Caja
                </button>
            </li>
            <li *ngIf="permission.canViewCashierMovements()" class="nav-item">
                <button (click)="getData()" class="nav-link" id="tab-company" data-bs-toggle="tab" data-bs-target="#content-company">
                    Datos de la Empresa
                </button>
            </li>
            <li *ngIf="permission.canViewTaskLayout()" class="nav-item">
                <button class="nav-link" id="tab-task" data-bs-toggle="tab" data-bs-target="#content-tasks">
                    Tareas
                </button>
            </li>
            <li *ngIf="permission.canViewDispatchLayout()" class="nav-item">
                <button class="nav-link" id="tab-dispatches" data-bs-toggle="tab"
                    data-bs-target="#content-dispatches">
                    Despachos
                </button>
            </li>
            <li *ngIf="permission.canViewRegisters()" class="nav-item">
                <button class="nav-link" id="tab-record" data-bs-toggle="tab" 
                data-bs-target="#content-record" (click)="getEncryptedKey()">
                    Historial
                </button>
            </li>
        </ul>
        <div class="tab-content flex-grow-1">
            <div class="tab-pane fade show active" id="content-cashier">
                <app-cashier-movements></app-cashier-movements>
            </div>
            <div class="tab-pane fade" id="content-company">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="text-center mb-4">Datos de la Empresa</h5>
                        <form>
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="nameCompany" placeholder="Ingrese nombre de la empresa"
                                            name="nameCompany" [(ngModel)]="data.name" required />
                                        <label for="nameCompany" class="form-label">Nombre Empresa</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="tel" class="form-control" id="phone" placeholder="Ingrese número de teléfono"
                                            value="+569 " name="phone" [(ngModel)]="data.phone" required/>
                                        <label for="phone" class="form-label">Teléfono</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="email" class="form-control" id="emailCompany" placeholder="Ingrese email"
                                            name="emailCompany" [(ngModel)]="data.email" required/>
                                        <label for="emailCompany" class="form-label">Correo Electrónico</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="access" placeholder="Ingrese acceso email"
                                            name="access" [(ngModel)]="data.emailSecurityApp" required />
                                        <label for="access" class="form-label">Acceso Email</label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="address"
                                            placeholder="Ingrese dirección de la empresa" name="address" 
                                            [(ngModel)]="data.address" required />
                                        <label for="address" class="form-label">Dirección</label>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mt-4">
                                <button (click)="updateLocalData()" type="submit" class="btn btn-success">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="content-tasks">
                <app-task-layout></app-task-layout>
            </div>
            <div class="tab-pane fade" id="content-dispatches">
                <app-dispatch-layout></app-dispatch-layout>
            </div>
            <div class="tab-pane fade" id="content-record">
                <div *ngIf="!access" class="card shadow h-100">
                    <div class="card-body d-flex flex-column p-2" style="height: 100%;">
                        <div class="d-flex flex-column justify-content-between align-items-center mb-1">
                            <div class="col-lg-3 col-md-6">
                                <div class="form-floating">
                                    <input id="recordPassword" type="password" [(ngModel)]="pass"
                                        (keyup.enter)="getAccessHistory()" class="form-control form-control-sm"
                                        placeholder="Ingrese un valor" aria-label="buscar registros filtrado" />
                                    <label for="recordPassword" class="fs-6 fw-bolder">Clave Acceso</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <app-register *ngIf="access"></app-register>
            </div>
        </div>
    </div>
</div>
