<div class="container-fluid d-flex flex-column p-1">
    <div class="p-0 pb-0">
        <p class="text-center fw-bold fs-2 m-0">Total Dinero: {{totalDebts | currency:'CLP':'$':'1.0-0'}}</p>
        <div class="d-flex flex-lg-row flex-column">
            <div class="order-lg-0 order-2 p-2 align-content-start">
                <p class="fw-bold fs-4 mb-0 m-1">Buscar Cliente:</p>
                <div class="input-group input-group-md">
                    <input [(ngModel)]="textFilter" (ngModelChange)="searchFilterCustomer()" type="text" class="form-control" aria-label="buscar cliente filtrado" aria-describedby="inputGroup-sizing-md" placeholder="Ingrese un valor">
                </div>
            </div>
            <div class="order-lg-1 order-0 d-flex flex-row m-auto mb-4">
                <div class="position-relative">
                    <div class="position-absolute top-0 start-50 translate-middle"
                        style="width: 20px; height: 20px; background-color: rgb(40, 238, 40);"></div>
                    <p class="p-2 fw-semibold">Pagada</p>
                </div>
                <div class="position-relative">
                    <div class="position-absolute top-0 start-50 translate-middle"
                        style="width: 20px; height: 20px; background-color: red;"></div>
                    <p class="p-2 fw-semibold">Pendiente</p>
                </div>
                <div class="position-relative">
                    <div class="position-absolute top-0 start-50 translate-middle"
                        style="width: 20px; height: 20px; background-color: rgb(9, 180, 237);"></div>
                    <p class="p-2 fw-semibold">Parcial</p>
                </div>
                <div class="position-relative">
                    <div class="position-absolute top-0 start-50 translate-middle"
                        style="width: 20px; height: 20px; background-color: blue;"></div>
                    <p class="p-2 fw-semibold">Vencida</p>
                </div>
            </div>
            <div class="order-lg-2 order-1 m-2 mt-0">
                <button class="btn active m-2 mt-1 " data-bs-toggle="button" aria-pressed="true" data-bs-toggle="modal" data-bs-target="#addCustomer"><img src="/assets/icons/iconAddUser.png" alt="Agregar_cliente"  width="60" height="60" class="d-inline-block img-fluid"></button>
                <p class="text-center fs-7 m-0">Agregar</p>
            </div>
        </div>
    </div>
    <div class="text-center p-2 pt-0 table-responsive" style="max-height: 325px;">
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col" class="position-sticky top-0">#</th>
                    <th scope="col" class="position-sticky top-0">Nombre</th>
                    <th scope="col" class="position-sticky top-0">Apellido</th>
                    <th scope="col" class="position-sticky top-0">Email</th>
                    <th scope="col" class="position-sticky top-0">Teléfono</th>
                    <th scope="col" class="position-sticky top-0">Deuda</th>
                    <th scope="col" class="position-sticky top-0">Estado</th>
                    <th scope="col" class="position-sticky top-0">Cuenta</th>
                    <th scope="col" class="position-sticky top-0">Acción</th>
                </tr>
            </thead>
            <tbody class="table-group-divider text-center align-middle">
                <tr *ngFor="let customer of filteredCustomers">
                    <th scope="row">{{customer.id}}</th>
                    <td>{{customer.name}}</td>
                    <td>{{customer.surname}}</td>
                    <td>{{getEmailEmpty(customer.email)}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.debt | currency: 'CLP':'$':'1.0-0'}}</td>
                    <td [ngStyle]="{'background-color': statusColor(customer.status)}"></td>
                    <td>{{getStatusAccount(customer.account)}}</td>
                    <td>
                        <div>
                            <button *ngIf="customer.debt > 0" class="btn btn-sm btn-success m-1" data-bs-toggle="modal" data-bs-target="#paymentCustomer"><img src="/assets/icons/btnPayIcon.png" alt="pago" width="30" height="30" class="img-fluid"></button>
                            <button  class="btn btn-sm btn-warning m-1" data-bs-toggle="modal" data-bs-target="#updateCustomer" (click)="editModalCustomer(customer)"><img src="/assets/icons/btnEditIcon.png" alt="editar" width="30" height="30" class="img-fluid"></button>
                            <button *ngIf="customer.debt === 0 && customer.account" class="btn btn-sm btn-danger m-1" (click)="deleteCustomer(customer)" ><img src="/assets/icons/btnDeleteIcon.png" alt="borrar" width="30" height="30" class="img-fluid"></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- Modal Add Customer -->
<div class="modal fade" id="addCustomer" tabindex="-1" aria-labelledby="addCustomer" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center w-100">
                <h1 class="modal-title fs-3 w-100">Registro de Clientes</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" placeholder="Ingrese nombre"
                        name="name" [(ngModel)]="newCustomer.name" [ngClass]="{'is-invalid': !customerValidator.isFieldValid(newCustomer, 'name')}" required />
                        <label for="name" class="form-label">Nombre</label>
                        <div *ngIf="!customerValidator.isFieldValid(newCustomer, 'name')" cl class="invalid-feedback">
                            Nombre no válido debe tener al menos 3 letras.
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="surname" placeholder="Ingrese apellidos"
                        name="surname" [(ngModel)]="newCustomer.surname" [ngClass]="{'is-invalid': !customerValidator.isFieldValid(newCustomer, 'surname')}" required />
                        <label for="surname" class="form-label">Apellido</label>
                        <div *ngIf="!customerValidator.isFieldValid(newCustomer, 'surname')" class="invalid-feedback">
                            Apellido no válido debe tener al menos 3 letras.
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control" id="phone" placeholder="Ingrese número de teléfono" value="+569 " name="phone" [(ngModel)]="newCustomer.phone" [ngClass]="{'is-invalid': !customerValidator.isFieldValid(newCustomer, 'phone')}" required />
                        <label for="phone" class="form-label">Número de Teléfono</label>
                        <div *ngIf="!customerValidator.isFieldValid(newCustomer, 'phone')" class="invalid-feedback">
                            Teléfono no válido (+569 12345678).
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" placeholder="Ingrese email" name="email" [(ngModel)]="newCustomer.email" [ngClass]="{'is-invalid': !customerValidator.isFieldValid(newCustomer, 'email')}" />
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <div *ngIf="!customerValidator.isFieldValid(newCustomer, 'email')" class="invalid-feedback">
                            Email no válido (example&commat;test.com)
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-success" (click)="addCustomer()" [disabled]="!validateForm(newCustomer)">Guardar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Update Customer -->
<div class="modal fade" id="updateCustomer" tabindex="-1" aria-labelledby="updateCustomer" aria-hidden="true"
    *ngIf="selectedCustomer">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center w-100">
                <h1 class="modal-title fs-3 w-100">Actualización de Clientes</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" [hidden]="!selectedCustomer.account">
                <form #form="ngForm">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" placeholder="Ingrese nombre" name="name"
                            [(ngModel)]="selectedCustomer.name" [ngClass]="{'is-invalid': !customerValidator.isFieldValid(selectedCustomer, 'name')}" [disabled]="selectedCustomer.debt > 0" required />
                        <label for="name" class="form-label">Nombre</label>
                        <div *ngIf="!customerValidator.isFieldValid(selectedCustomer, 'name')" cl class="invalid-feedback">
                            Nombre no válido debe tener al menos 3 letras.
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="surname" placeholder="Ingrese apellidos"
                            name="surname" [(ngModel)]="selectedCustomer.surname" [ngClass]="{'is-invalid': !customerValidator.isFieldValid(selectedCustomer, 'surname')}" [disabled]="selectedCustomer.debt > 0" required />
                        <label for="surname" class="form-label">Apellido</label>
                        <div *ngIf="!customerValidator.isFieldValid(selectedCustomer, 'surname')" class="invalid-feedback">
                            Apellido no válido debe tener al menos 3 letras.
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="tel" class="form-control" id="phone" placeholder="Ingrese número de teléfono"
                            value="+569 " name="phone" [(ngModel)]="selectedCustomer.phone" [ngClass]="{'is-invalid': !customerValidator.isFieldValid(selectedCustomer, 'phone')}" required />
                        <label for="phone" class="form-label">Número de Teléfono</label>
                        <div *ngIf="!customerValidator.isFieldValid(selectedCustomer, 'phone')" class="invalid-feedback">
                            Teléfono no válido (+569 12345678).
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" placeholder="Ingrese email" name="email"
                            [(ngModel)]="selectedCustomer.email" [ngClass]="{'is-invalid': !customerValidator.isFieldValid(selectedCustomer, 'email')}"/>
                        <label for="email" class="form-label">Correo Electrónico</label>
                        <div *ngIf="!customerValidator.isFieldValid(selectedCustomer, 'email')" class="invalid-feedback">
                            Email no válido (example&commat;test.com)
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-success" (click)="updateCustomer()" [disabled]="!validateForm(selectedCustomer)" [hidden]="!selectedCustomer.account">Actualizar</button>
                <button type="button" class="btn btn-warning" [hidden]="selectedCustomer.account">Activar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Payment Customer -->
<div class="modal fade"id="paymentCustomer" tabindex="-1" aria-labelledby="paymentCustomer" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center w-100">
                <h5 class="modal-title text-center w-100">Pago de Deuda</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="d-flex flex-row bg-danger">
                        <div class="">
                            <p>Deuda Total</p>
                            <p>$1000</p>
                        </div>
                        <div>
                            <p>Deuda a Pagar</p>
                            <p>$1000</p>
                        </div>
                        <div>
                            <p>Abonado</p>
                            <p>$1000</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row w-100 bg-warning justify-content-between">
                        <div>checkbox</div>
                        <div>form</div>
                    </div>
                    <div class="bg-info">table</div>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>