<div class="flex-grow-1 overflow-auto">
    <p *ngIf="dispatchList.length === 0" class="fw-bold fs-5 text-center">No hay despachos</p>
    <ul class="list-group list-group-flush">
        <li *ngFor="let dispatch of dispatchList"
            class="list-group-item bg-dark-subtle d-flex justify-content-between align-items-center border-bottom border-success">
            <span>Despacho {{dispatch.trackingNumber}} - {{dispatch.status}} 
                <button class="btn btn-sm btn-outline-primary border-0 ms-1" data-bs-toggle="modal"
                    data-bs-target="#dispatchDetailModal" (click)="getSaleDetailToDispatch(dispatch)">
                    <i class="bi bi-info-square" data-bs-toggle="tooltip" 
                        data-bs-placement="bottom" title="+ info"></i>
                </button>
            </span>
            <div>
                <button *ngIf="!dispatch.status.includes('En Ruta')" class="btn btn-sm btn-outline-info rounded-pill me-1" 
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="En Ruta"
                    (click)="handleStatusDispatch(dispatch, 1)"><i class="bi bi-truck"></i></button>
                <button class="btn btn-sm btn-outline-success rounded-pill me-1" 
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Entregado" 
                    (click)="getSaleDetailToDispatch(dispatch)"><i class="bi bi-check-square" 
                     data-bs-toggle="modal" data-bs-target="#dispatchPaymentModal"></i></button>
                <button class="btn btn-sm btn-outline-danger rounded-pill me-1" 
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cancelar"
                    (click)="handleStatusDispatch(dispatch, 2)"><i class="bi bi-x"></i></button>
            </div>
        </li>
    </ul>
</div>
<!-- MODAL DISPATCH DETAILS -->
<app-dispatch-modal 
    [selectedDispatchDetail]="selectedDispatch"
    [saleDetailDispatchList]="saleDetailDispatchList"></app-dispatch-modal>
<!-- MODAL DISPATCH PAYMENT -->
<app-payment-dispatch 
    [selectedDispatchPayment]="selectedDispatch" 
    [saleDetailDispatchList]="saleDetailDispatchList"
    (dispatchPaid)="getDispatches()"></app-payment-dispatch>