<div *ngIf="permission.canViewDispatch()" class="flex-grow-1 overflow-auto">
    <p *ngIf="dispatchList.length === 0" class="fw-bold fs-5 text-center">No hay despachos</p>
    <ul class="list-group list-group-flush">
        <li *ngFor="let dispatch of dispatchList"
            class="list-group-item bg-dark-subtle d-flex justify-content-between align-items-center border-bottom border-success">
            <span>Despacho {{dispatch.trackingNumber}} - {{helper.getStatusLabel(dispatch.status)}} 
                <button class="btn btn-sm btn-outline-primary border-0 ms-1" data-bs-toggle="modal"
                    data-bs-target="#dispatchDetailModal" (click)="getSaleDetailsForDispatch(dispatch)">
                    <i class="bi bi-info-square" data-bs-toggle="tooltip" 
                        data-bs-placement="bottom" title="+ info"></i>
                </button>
            </span>
            <div *ngIf="permission.canHandleDispatch()">
                <button *ngIf="!dispatch.status.includes('IN_ROUTE')" class="btn btn-sm btn-outline-info rounded-pill me-1" 
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="En Ruta"
                    (click)="handleStatusDispatch(dispatch, status.IN_ROUTE)"><i class="bi bi-truck"></i></button>
                <button 
                    *ngIf="!dispatch.status.includes('PREPARING')"
                    class="btn btn-sm btn-outline-success rounded-pill me-1" 
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Entregado" 
                    (click)="getSaleDetailsForDispatch(dispatch)"><i class="bi bi-check-square" 
                     data-bs-toggle="modal" data-bs-target="#dispatchPaymentModal"></i></button>
                <button class="btn btn-sm btn-outline-danger rounded-pill me-1" 
                    data-bs-toggle="tooltip" data-bs-placement="bottom" title="Cancelar"
                    (click)="handleStatusDispatch(dispatch, status.DELETED)"><i class="bi bi-x"></i></button>
            </div>
        </li>
    </ul>
</div>
<!-- MODAL DISPATCH DETAILS -->
<app-dispatch-modal 
    [dispatchSelectedDetail]="selectedDispatch"
    [totalSum]="totalSum">
</app-dispatch-modal>
<!-- MODAL DISPATCH PAYMENT -->
<app-payment-dispatch 
    [selectedDispatchPayment]="selectedDispatch" 
    [totalSum]="totalSum"
    (dispatchPaid)="loadCurrentDispatches()"></app-payment-dispatch>