<ul class="list-group list-group-flush">
    <li *ngFor="let alert of alertList"
        [ngClass]="{'bg-success text-white':alert.status.includes('Revisado'), 'bg-dark-subtle': !alert.status.includes('Revisado')}"
        class="list-group-item d-flex justify-content-between align-items-center border-bottom border-danger">
        <span [ngClass]="{'text-decoration-line-through': alert.status.includes('Revisado')}">
            <i *ngIf="alert.description.includes('Sin Stock')" class="bi bi-x-circle-fill text-danger"></i>
            <i *ngIf="alert.description.includes('Stock Crítico')"
                class="bi bi-exclamation-circle-fill text-warning"></i>
            <i *ngIf="alert.description.includes('sin Ventas')" class="bi bi-cart-x-fill text-info"></i>
            {{alert.description}}
        </span>
        <div class="d-flex flex-row">
            <button
                *ngIf="alert.status.includes('Alerta')"  
                class="btn btn-sm btn-outline-warning rounded-pill"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Pendiente"
                (click)="changeStatusAlert(alert, 3)">
                <i class="bi bi-hourglass-split"></i>
            </button>
            <button 
                *ngIf="alert.status.includes('Pendiente') || alert.status.includes('Alerta')"
                class="btn btn-sm btn-outline-success rounded-pill"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="Revisado"
                (click)="changeStatusAlert(alert, 2)">
                <i class="bi bi-check2-square"></i>
            </button>
        </div>
    </li>
</ul>