<div class="contianer-fluid d-flex flex-lg-row flex-column p-1 min-vh-100">
  <div
    class="flex-column text-center w-25 border border-start-0 border-top-0 border-bottom-0 border-3 border-white"
  >
    <p class="fw-bold fs-1">Compra</p>
    <p class="fw-bolder">N°1</p>
    <form>
      <div class="form-floating mb-3 m-2">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            id="document"
            name="document"
            placeholder="Ingrese un n° documento"
            aria-label="Ingrese un número de documento"
            aria-describedby="addDocument"
            [ngClass]="{
              'is-invalid': !validator.isFieldValid(purchase, 'document'),
              'is-valid': validator.isFieldValid(purchase, 'document')
            }"
            required
          />
          <!-- <div
            *ngIf="!validator.isFieldValid(purchase, 'document')"
            class="invalid-feedback"
          >
            Debe ingresar un valor válido
          </div> -->
        </div>
        <div class="input-group mb-3">
          <input
            type="date"
            class="form-control"
            id="date"
            name="date"
            placeholder="Ingrese fecha"
            aria-label="Ingrese fecha de compra"
            aria-describedby="addDate"
            [ngClass]="{
              'is-invalid': !validator.isFieldValid(purchase, 'date'),
              'is-valid': validator.isFieldValid(purchase, 'date')
            }"
            required
          />
          <!-- <div
            *ngIf="!validator.isFieldValid(purchase, 'date')"
            class="invalid-feedback"
          >
            Debe ingresar una fecha
          </div> -->
        </div>
        <div class="input-group mb-3">
          <select
            class="form-select"
            name="supplier"
            id="supplier"
            aria-label="Seleccione un proveedor"
            [ngClass]="{
              'is-invalid': !validator.isFieldValid(purchase, 'supplier'),
              'is-valid': validator.isFieldValid(purchase, 'supplier')
            }"
          >
            <option [ngValue]="null" selected disabled>Proveedor</option>
            <option *ngFor="let supplier of supplierList" [ngValue]="supplier">
              {{ supplier.name }}
            </option>
          </select>
          <!-- <div
            *ngIf="!validator.isFieldValid(purchase, 'supplier')"
            class="invalid-feedback"
          >
            Debe seleccionar un proveedor
          </div> -->
        </div>
        <div class="input-group mb-3 justify-content-center">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="radioDocumentType"
              id="radioDocumentTypeTicket"
            />
            <label class="form-check-label" for="radioDocumentTypeTicket">
              Boleta
            </label>
          </div>
          <div class="form-check ms-5">
            <input
              class="form-check-input"
              type="radio"
              name="radioDocumentType"
              id="radioDocumentTypeReceipt"
              checked
            />
            <label class="form-check-label" for="radioDocumentTypeReceipt">
              Factura
            </label>
          </div>
        </div>
        <div class="input-group mb-3">
          <input
            type="number"
            class="form-control"
            id="total"
            name="total"
            placeholder="Ingrese valor"
            aria-label="Ingrese total"
            aria-describedby="addTotal"
            [ngClass]="{
              'is-invalid': !validator.isFieldValid(purchase, 'purchaseTotal'),
              'is-valid': validator.isFieldValid(purchase, 'purchaseTotal')
            }"
            required
          />
          <!-- <div
            *ngIf="!validator.isFieldValid(purchase, 'purchaseTotal')"
            class="invalid-feedback"
          >
            Debe ingresar un valor válido
          </div> -->
        </div>
        <div class="input-group mb-3">
          <input
            type="number"
            class="form-control"
            id="tax"
            name="tax"
            placeholder="IVA"
            aria-label="Ingrese un IVA"
            aria-describedby="addTax"
            disabled
            required
          />
        </div>
        <button class="btn btn-success m-1">Guardar</button>
        <button class="btn btn-info m-1">Limpiar</button>
      </div>
    </form>
  </div>
  <div class="d-flex flex-column text-center w-75">
    <div class="d-flex flex-row justify-content-around">
      <button
        class="btn btn-sm btn-outline-primary border-0 m-2 mt-1"
        data-bs-toggle="modal"
        data-bs-target="#selectProduct"
      >
        <img
          src="/assets/icons/iconFind.png"
          alt="Seleccionar_producto"
          width="40"
          height="40"
          class="d-inline-block img-fluid"
          data-bs-toggle="tooltip"
            data-bs-placement="right"
            data-bs-title="Seleccionar Productos"
        />
      </button>
      <div class="row m-3 w-75 justify-content-between">
        <div class="col-6">
          <p class="fw-bold fs-4">Cantidad Producto: {{selectedProductsList.length}}</p>
        </div>
        <div class="col-6">
          <p class="fw-bold fs-4">Total Compra: $5500</p>
        </div>
      </div>
    </div>
    <div class="table-responsive text-center p-5 pt-4 h-100 overflow-auto">
      <table class="table table-hover">
        <thead class="table-warning">
          <tr>
            <th scope="col" class="position-sticky top-0">#</th>
            <th scope="col" class="position-sticky top-0">Marca</th>
            <th scope="col" class="position-sticky top-0">Descripción</th>
            <th scope="col" class="position-sticky top-0">Unitario</th>
            <th scope="col" class="position-sticky top-0">IVA</th>
            <th scope="col" class="position-sticky top-0">Unidad</th>
            <th scope="col" class="position-sticky top-0">Total</th>
            <th scope="col" class="position-sticky top-0">Acción</th>
          </tr>
        </thead>
        <tbody class="table-group-divider text-center align-middle">
          <tr *ngFor="let selectedProduct of selectedProductsList">
            <th scope="row">{{selectedProduct.id}}</th>
            <td>{{selectedProduct.brand.name}}</td>
            <td>{{selectedProduct.description}}</td>
            <td>$5000</td>
            <td>$500</td>
            <td>1</td>
            <td>$5500</td>
            <td>X</td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="selectedProductsList" class="fw-bold fs-2">Agregue un producto</p>
    </div>
  </div>
</div>
<!-- MODAL SELECTING PRODUCTS -->
<div
  class="modal fade"
  id="selectProduct"
  tabindex="-1"
  aria-labelledby="selectProduct"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column">
        <div class="d-flex flex-row justify-content-around mb-1">
          <div class="form-floating mb-0 mt-5">
            <input
              type="text"
              class="form-control"
              id="searchProduct"
              name="searchProduct"
              placeholder="Búsqueda Rápida"
              aria-label="Búsqueda Rápida de productos"
              aria-describedby="searchProduct"
            />
            <label for="searchProduct" class="form-label"
              >Búsqueda Rápida</label
            >
          </div>
          <div>
            <button
              class="btn btn-outline-success border-0 m-2 mt-5"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="Crear nuevo producto"
            >
              <img
                src="/assets/icons/iconAdd.png"
                alt="Agregar_producto"
                width="40"
                height="40"
                class="d-inline-block img-fluid"
              />
            </button>
            <button
              class="btn btn-outline-success border-0 m-2 mt-5"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              data-bs-title="Crear nuevas categorías"
            >
              <img
                src="/assets/icons/iconCategories.png"
                alt="Agregar_categoría"
                width="40"
                height="40"
                class="d-inline-block img-fluid"
              />
            </button>
          </div>
          <div class="border border-1 border-white p-1 mt-5 h-100">
            <p class="ms-1 mb-0">
              <span
                class="mt-1 d-inline-block"
                style="
                  width: 15px;
                  height: 15px;
                  background-color: rgb(40, 238, 40);
                "
              ></span>
              Disponible
            </p>
            <p class="ms-1 mb-0">
              <span
                class="mt-1 d-inline-block"
                style="
                  width: 15px;
                  height: 15px;
                  background-color: rgb(9, 180, 237);
                "
              ></span>
              No Disponible
            </p>
            <p class="ms-1 mb-0">
              <span
                class="mt-1 d-inline-block"
                style="width: 15px; height: 15px; background-color: red"
              ></span>
              Descontinuado
            </p>
          </div>
        </div>
        <div
          class="table-responsive text-center p-2 pt-0"
          style="max-height: 325px"
        >
          <table class="table table-hover">
            <thead class="table-info">
              <tr>
                <th scope="col" class="position-sticky top-0">#</th>
                <th scope="col" class="position-sticky top-0">Marca</th>
                <th scope="col" class="position-sticky top-0">Categoría</th>
                <th scope="col" class="position-sticky top-0">SubCategoría</th>
                <th scope="col" class="position-sticky top-0">Descripción</th>
                <th scope="col" class="position-sticky top-0">Un</th>
                <th scope="col" class="position-sticky top-0">Estado</th>
              </tr>
            </thead>
            <tbody class="table-group-divider text-center align-middle">
              <tr *ngFor="let product of productList">
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.brand.name }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.subcategoryProduct.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.unit.nameUnit }}</td>
                <td
                  [ngStyle]="{
                    'background-color': statusColor(product.statusProduct)
                  }"
                ></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
