<div *ngIf="permission.canViewPurchase()" class="contianer-fluid d-flex flex-lg-row flex-column p-1 min-vh-100">
  <div
    class="d-flex flex-column align-items-center text-center w-25 border border-start-0 border-top-0 border-bottom-0 border-3 border-white vh-100 overflow-y-auto">
    <p class="fw-bold fs-1 mb-0">Compra</p>
    <p class="fw-bolder">N°{{ TotalPurchaseDB }}</p>
    <form class="w-100">
      <div class="d-flex flex-column align-items-center w-100">
        <div class="form-floating mb-2 w-75">
          <input type="text" class="form-control" id="document" name="document" placeholder="Ingrese un n° documento"
            aria-label="Ingrese un número de documento" aria-describedby="addDocument" [(ngModel)]="purchase.document"
            [ngClass]="{
              'is-invalid': !validator.isFieldValid(purchase, 'document'),
              'is-valid': validator.isFieldValid(purchase, 'document')
            }" required />
          <label for="document" class="form-label">N° Documento</label>
        </div>
        <div class="form-floating mb-2 w-75">
          <input type="date" class="form-control" id="date" name="date" placeholder="Ingrese fecha"
            aria-label="Ingrese fecha de compra" aria-describedby="addDate" [(ngModel)]="purchase.date" [ngClass]="{
              'is-invalid': !validator.isFieldValid(purchase, 'date'),
              'is-valid': validator.isFieldValid(purchase, 'date')
            }" required />
          <label for="date" class="form-label">Fecha</label>
        </div>
        <div class="input-group mb-3 w-75">
          <select class="form-select" name="supplier" id="supplier" aria-label="Seleccione un proveedor"
            [(ngModel)]="purchase.supplier" [ngClass]="{
              'is-invalid': !validator.isFieldValid(purchase, 'supplier'),
              'is-valid': validator.isFieldValid(purchase, 'supplier')
            }">
            <option [ngValue]="null" selected disabled>Proveedor</option>
            <option *ngFor="let supplier of supplierList" [ngValue]="supplier">
              {{ supplier.name }}
            </option>
          </select>
        </div>
        <div class="input-group mb-2 justify-content-center w-75">
          <div class="form-check me-4">
            <input class="form-check-input" type="radio" name="radioDocumentType" id="radioDocumentTypeTicket"
              [(ngModel)]="purchase.documentType" value="Boleta" />
            <label class="form-check-label" for="radioDocumentTypeTicket">
              Boleta
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="radioDocumentType" id="radioDocumentTypeReceipt"
              [(ngModel)]="purchase.documentType" value="Factura" checked />
            <label class="form-check-label" for="radioDocumentTypeReceipt">
              Factura
            </label>
          </div>
        </div>
        <div class="form-floating mb-2 w-75">
          <input type="number" class="form-control" id="purchaseTotal" name="purchaseTotal" placeholder="Ingrese valor"
            aria-label="Ingrese total" aria-describedby="addTotal" [(ngModel)]="purchase.total" [ngClass]="{
              'is-invalid': !validator.isFieldValid(purchase, 'total'),
              'is-valid': validator.isFieldValid(purchase, 'total')
            }" required />
          <label for="purchaseTotal" class="form-label">Valor total</label>
        </div>
        <p *ngIf="validator.validateTotals(purchase, total)" class="text-danger fw-light mb-1">
          Verifique total de la {{ purchase.documentType }}
        </p>
        <p>IVA: {{ purchase.tax | currency : "CLP" : "$" : "1.0-0" }}</p>
        <div class="flex-row mb-1">
          <button [disabled]="!validator.validateForm(purchase)" class="btn btn-success m-1" (click)="initiatePurchaseTransaction()">
            Guardar
          </button>
          <button class="btn btn-info m-1" (click)="resetPurchaseState()">Limpiar</button>
        </div>
      </div>
    </form>
  </div>
  <div class="d-flex flex-column text-center w-75">
    <div class="d-flex flex-row justify-content-around">
      <button
        class="btn btn-sm btn-outline-primary border-0 m-2 mt-1"
        data-bs-toggle="modal"
        data-bs-target="#selectProduct"
      >
        <img
          src="/assets/icons/iconFind.png"
          alt="Seleccionar_producto"
          width="40"
          height="40"
          class="d-inline-block img-fluid"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-title="Seleccionar Productos"
        />
      </button>
      <button class="btn btn-outline-success border-0 m-2 mt-1" data-bs-toggle="modal" data-bs-target="#addProduct">
        <img src="/assets/icons/iconAdd.png" alt="Agregar_producto" width="20" height="20" class="d-inline-block img-fluid" data-bs-toggle="tooltip" data-bs-placement="auto"
        data-bs-title="Crear nuevo producto"/>
      </button>
      <button class="btn btn-outline-success border-0 m-2 mt-1" data-bs-toggle="modal" data-bs-target="#categoriesModal">
        <img src="/assets/icons/iconCategories.png" alt="Agregar_categoría" width="20" height="20"
          class="d-inline-block img-fluid" data-bs-toggle="tooltip" data-bs-placement="auto"
          data-bs-title="Crear nuevas categorías" />
      </button>
      <div class="row m-3 mt-1 w-75 justify-content-between">
        <div class="col-6">
          <p class="fw-bold fs-4">
            Cantidad Producto: {{ purchaseDetailList.length }}
          </p>
        </div>
        <div class="col-6">
          <p class="fw-bold fs-4">
            Total Compra: {{ total | currency : "CLP" : "$" : "1.0-0" }}
          </p>
        </div>
      </div>
    </div>
    <div
      class="table-responsive text-center p-5 pt-0 h-100 overflow-auto"
      style="max-height: calc(100vh - 200px);"
    >
      <table class="table table-hover">
        <thead class="table-warning">
          <tr>
            <th scope="col" class="position-sticky top-0">#</th>
            <th scope="col" class="position-sticky top-0">Marca</th>
            <th scope="col" class="position-sticky top-0">Descripción</th>
            <th scope="col" class="position-sticky top-0">Unitario</th>
            <th scope="col" class="position-sticky top-0">IVA</th>
            <th scope="col" class="position-sticky top-0">Unidad</th>
            <th scope="col" class="position-sticky top-0">Total</th>
            <th scope="col" class="position-sticky top-0">Acción</th>
          </tr>
        </thead>
        <tbody class="table-group-divider text-center align-middle">
          <tr *ngFor="let purchaseDetail of purchaseDetailList; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ purchaseDetail.product.brand }}</td>
            <td>{{ purchaseDetail.product.description }}</td>
            <td>
              <div
                *ngIf="!isEditing(purchaseDetail, 'price')"
                (click)="enableEdit(purchaseDetail, 'price')"
              >
                {{ purchaseDetail.price | currency : "CLP" : "$" : "1.0-0" }}
              </div>
              <input
                *ngIf="isEditing(purchaseDetail, 'price')"
                type="number"
                [(ngModel)]="purchaseDetail.price"
                (blur)="disableEdit(purchaseDetail, 'price')"
                (keydown.enter)="disableEdit(purchaseDetail, 'price')"
                class="form-control form-control-sm mx-auto"
                style="width: 60px"
                required
              />
            </td>
            <td>{{ purchaseDetail.tax | currency : "CLP" : "$" : "1.0-0" }}</td>
            <td>
              <div
                *ngIf="!isEditing(purchaseDetail, 'quantity')"
                (click)="enableEdit(purchaseDetail, 'quantity')"
              >
                {{ purchaseDetail.quantity }}
              </div>
              <input
                *ngIf="isEditing(purchaseDetail, 'quantity')"
                type="number"
                [(ngModel)]="purchaseDetail.quantity"
                (blur)="disableEdit(purchaseDetail, 'quantity')"
                (keydown.enter)="disableEdit(purchaseDetail, 'quantity')"
                class="form-control form-control-sm mx-auto"
                style="width: 60px"
                required
              />
            </td>
            <td>
              {{ purchaseDetail.total | currency : "CLP" : "$" : "1.0-0" }}
            </td>
            <td>
              <button (click)="removeItemFromPurchase(i)" class="btn btn-sm m-1">
                <img
                  src="/assets/icons/iconCancel.png"
                  alt="activar"
                  width="24"
                  height="24"
                  class="img-fluid"
                />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <p *ngIf="purchaseDetailList.length === 0" class="fw-bold fs-2">
        Agregue un producto
      </p>
    </div>
  </div>
</div>
<!-- MODAL SELECTING PRODUCTS -->
<app-product-list (productSelected)="addProductToPurchaseDetails($event)"></app-product-list>
<!-- MODAL ADD CATEGORIES -->
<app-add-categories></app-add-categories>
<!-- MODAL ADD PRODUCTS -->
<app-add-product></app-add-product>
