    <div *ngIf="roleService.getRole() !== role.GUEST || selectedCustomer" class="modal fade" id="updateCustomer" tabindex="-1" aria-labelledby="updateCustomer" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center w-100">
                    <h1 class="modal-title fs-3 w-100">Actualización de Clientes</h1>
                    <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body" [hidden]="!selectedCustomer.account">
                    <form #form="ngForm">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nameUpdateCustomer" placeholder="Ingrese nombre" name="name"
                                [(ngModel)]="selectedCustomer.name"
                                [ngClass]="{'is-invalid': !customerValidator.isFieldValid(selectedCustomer, 'name')}"
                                [disabled]="selectedCustomer.debt > 0 || roleService.getRole() === role.SELLER" required />
                            <label for="nameUpdateCustomer" class="form-label">Nombre</label>
                            <div *ngIf="!customerValidator.isFieldValid(selectedCustomer, 'name')" cl
                                class="invalid-feedback">
                                Nombre no válido debe tener al menos 3 letras.
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="surnameUpdateCustomer" placeholder="Ingrese apellidos"
                                name="surname" [(ngModel)]="selectedCustomer.surname"
                                [ngClass]="{'is-invalid': !customerValidator.isFieldValid(selectedCustomer, 'surname')}"
                                [disabled]="selectedCustomer.debt > 0 || roleService.getRole() === role.SELLER" required />
                            <label for="surnameUpdateCustomer" class="form-label">Apellidos</label>
                            <div *ngIf="!customerValidator.isFieldValid(selectedCustomer, 'surname')"
                                class="invalid-feedback">
                                Apellido no válido debe tener al menos 3 letras.
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="tel" class="form-control" id="phoneUpdateCustomer" placeholder="Ingrese número de teléfono"
                                value="+569 " name="phone" [(ngModel)]="selectedCustomer.phone"
                                [ngClass]="{'is-invalid': !customerValidator.isFieldValid(selectedCustomer, 'phone')}"
                                required />
                            <label for="phoneUpdateCustomer" class="form-label">Número de Teléfono</label>
                            <div *ngIf="!customerValidator.isFieldValid(selectedCustomer, 'phone')"
                                class="invalid-feedback">
                                Teléfono no válido (+569 12345678).
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="emailUpdateCustomer" placeholder="Ingrese email" name="email"
                                [(ngModel)]="selectedCustomer.email"
                                [ngClass]="{'is-invalid': !customerValidator.isFieldValid(selectedCustomer, 'email')}" />
                            <label for="emailUpdateCustomer" class="form-label">Correo Electrónico</label>
                            <div *ngIf="!customerValidator.isFieldValid(selectedCustomer, 'email')"
                                class="invalid-feedback">
                                Email no válido (example&commat;test.com)
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-success" (click)="updateCustomer()"
                        [disabled]="!customerValidator.validateForm(selectedCustomer)"
                        [hidden]="!selectedCustomer.account"
                        [attr.data-bs-dismiss]="modalService.isModalVisible() ? 'modal' : null">Actualizar</button>
                    <button type="button" class="btn btn-warning" [hidden]="selectedCustomer.account"
                        (click)="activeCustomer(selectedCustomer)">Activar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>